{% extends 'base.html' %}
{% block title %}
Add News
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<br>
<h1 style="color:#">Add News</h1>
<!--POST and GET in django-->

<!--POST-->
<!--Django's home form is returned using the POST method, -->
<!--in which the browser bundles up the form data, encodes it for transmission, -->
<!--sends it to the server, and then receives back its response. -->

<!--GET , by contrast, bundles the submitted data into a string, and uses this to compose a URL.-->

<form method="POST">
    {% csrf_token %}
    <div class="container mt-4" style='color:#'>
    {{ form.as_p }}
    <button class="btn btn-primary">Post</button>
    </div>
    </form>
    <br>
    <br>
<script>
    var name = "{{ user.id }}";
    document.getElementById('id_num').value = name;
</script>
<!-- The above line is the javascript code. What it do is check the author.id with user.id-->
{% else %}
    You are not allowed :)
{% endif %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-center mt-3 left">
            {% for post in news_list %}
            <div class="card mb-4">
                <div class="card-body">
<!--                    next four lines are the display for all the posts-->
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'blog:post_detail' post.slug  %}" class="btn btn-primary">Read More...</a>
                   {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                    <a href="{% url 'user_login:delete_blog' post.slug  %}" class="btn btn-danger">Delete Post</a>
                    {% endif %}
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}