{% extends 'base.html' %}
{% block title %}
Complaint Form
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<br>
<h1>Complaint Form</h1>

<form method="POST">
    {% csrf_token %}
    <div class="container mt-4">
    {{ form.as_p }}
    <button class="btn btn-primary">Send.</button>
    </div>
    </form>
    <br>
    <br>
<script>
    var name = "{{ user.id }}";
    document.getElementById('id_num').value = name;
</script>


{% else %}
    


<br>
<h1>Complaint Form</h1>

<form method="POST">
    {% csrf_token %}
    <div class="container mt-4">
    {{ form.as_p }}
    <button class="btn btn-primary">Send.</button>
    </div>
    </form>
    <br>
    {% comment %} <br>
<script>
    var name = "{{ user.id }}";
    document.getElementById('id_num').value = name;
</script> {% endcomment %}
{% endif %}
{% endblock %}