

<!--<div class="p-3 mb-2 bg-secondary text-white">-->

{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="shadow-lg p-4 mb-auto bg-body rounded">

<br>
<h1>REGISTER</h1>
<br>

<!--POST and GET in django-->

<!--POST-->
<!--Django's home form is returned using the POST method, -->
<!--in which the browser bundles up the form data, encodes it for transmission, -->
<!--sends it to the server, and then receives back its response. -->

<!--GET , by contrast, bundles the submitted data into a string, and uses this to compose a URL.-->
<div class="form-group">
<form method="POST">
    {% csrf_token %}
    <!-- {{ form.as_p }} This is the inbuilt forms of django -->
    <!-- Below is the custom forms that we have created.-->
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="username" placeholder="Enter username without space.">
      </div>
    <div class="mb-3">
        <label class="form-label">Tower Number</label>
        <input type="number" class="form-control" name="tower_no" placeholder="Enter Tower No.">
      </div>
    <div class="mb-3">
        <label class="form-label">Flat Number</label>
        <input type="number" class="form-control" name="flat_no" placeholder="Enter Flat No.">
      </div>
    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input type="number" class="form-control" name="phone_no" placeholder="Enter Phone No.">
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password1" placeholder="Create your password">
        <div id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
          </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password Confirmation</label>
        <input type="password" class="form-control" name="password2" placeholder="Enter your password again.">
      </div>

<br>
    <button class="btn btn-primary">Register</button>
</form>
</div>
<!--        </div>-->
</div>
</div>
{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">-->
<!--<title>User Registration</title>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--<style>-->
<!--   body {-->
<!--      color: #fff;-->
<!--      background: #63738a;-->
<!--      font-family: 'Roboto', sans-serif;-->
<!--   }-->
<!--    .form-control{-->
<!--      height: 40px;-->
<!--      box-shadow: none;-->
<!--      color: #969fa4;-->
<!--   }-->
<!--   .form-control:focus{-->
<!--      border-color: #5cb85c;-->
<!--   }-->
<!--    .form-control, .btn{-->
<!--        border-radius: 3px;-->
<!--    }-->
<!--   .signup-form{-->
<!--      width: 400px;-->
<!--      margin: 0 auto;-->
<!--      padding: 30px 0;-->
<!--   }-->
<!--   .signup-form h2{-->
<!--      color: #636363;-->
<!--        margin: 0 0 15px;-->
<!--      position: relative;-->
<!--      text-align: center;-->
<!--    }-->
<!--   .signup-form h2:before, .signup-form h2:after{-->
<!--      content: "";-->
<!--      height: 2px;-->
<!--      width: 30%;-->
<!--      background: #d4d4d4;-->
<!--      position: absolute;-->
<!--      top: 50%;-->
<!--      z-index: 2;-->
<!--   }-->
<!--   .signup-form h2:before{-->
<!--      left: 0;-->
<!--   }-->
<!--   .signup-form h2:after{-->
<!--      right: 0;-->
<!--   }-->
<!--    .signup-form .hint-text{-->
<!--      color: #999;-->
<!--      margin-bottom: 30px;-->
<!--      text-align: center;-->
<!--   }-->
<!--    .signup-form form{-->
<!--      color: #999;-->
<!--      border-radius: 3px;-->
<!--       margin-bottom: 15px;-->
<!--        background: #f2f3f7;-->
<!--        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);-->
<!--        padding: 30px;-->
<!--    }-->
<!--   .signup-form .form-group{-->
<!--      margin-bottom: 20px;-->
<!--   }-->
<!--   .signup-form input[type="checkbox"]{-->
<!--      margin-top: 3px;-->
<!--   }-->
<!--   .signup-form .btn{-->
<!--        font-size: 16px;-->
<!--        font-weight: bold;-->
<!--      min-width: 140px;-->
<!--        outline: none !important;-->
<!--    }-->
<!--   .signup-form .row div:first-child{-->
<!--      padding-right: 10px;-->
<!--   }-->
<!--   .signup-form .row div:last-child{-->
<!--      padding-left: 10px;-->
<!--   }-->
<!--    .signup-form a{-->
<!--      color: #fff;-->
<!--      text-decoration: underline;-->
<!--   }-->
<!--    .signup-form a:hover{-->
<!--      text-decoration: none;-->
<!--   }-->
<!--   .signup-form form a{-->
<!--      color: #5cb85c;-->
<!--      text-decoration: none;-->
<!--   }-->
<!--   .signup-form form a:hover{-->
<!--      text-decoration: underline;-->
<!--   }-->
<!--</style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="signup-form">-->
<!--    <form action="/register/" method="POST"> {% csrf_token %}-->
<!--      <h2>Register</h2>-->
<!--      <p class="hint-text">Create your account. It's free and only takes a minute.</p>-->
<!--        <div class="form-group">-->
<!--           <input type="email" class="form-control" name="email" placeholder="Enter your Email" required="required">-->
<!--        </div>-->

<!--      <div class="form-group">-->
<!--            <input type="text" class="form-control" name="flat_no" placeholder="Enter your Flat No" required="required">-->
<!--        </div>-->
<!--      <div class="form-group">-->
<!--            <input type="Number" class="form-control" name="mobile_no" placeholder="Enter your Mobile No" required="required">-->
<!--        </div>-->
<!--      <div class="form-group">-->
<!--            <input type="text" class="form-control" name="tower_no" placeholder="Enter Tower No" required="required">-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <input type="password" class="form-control" name="password" placeholder="Enter the Password" required="required">-->
<!--        </div>-->
<!--      <div class="form-group">-->
<!--            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">-->
<!--        </div>-->

<!--      <div class="form-group">-->
<!--            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>-->
<!--        </div>-->
<!--    </form>-->
<!--   <div class="text-center">Already have an account? <a href="#">Sign in</a></div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
