{% extends 'base.html' %}

{% block title %} Verify OTP {% endblock %}


{% block css %}
{% endblock %}
{% block content %}

<form action='{% url "user_login:otp" %}' method="POST">
     {% csrf_token %}
    <div class="container mt-5">
   <div class="mb-3 col-sm-4">
            <label for="otp" class="form-label ">Enter the OTP</label>
            <input type="password" class="form-control " id="otp" name="otp">

<br>

<button type="submit" class="btn btn-primary">Verify OTP</button>
   </div>
    </div>

</form>

{% endblock %}