{% extends 'base.html' %}
{% block title %}Buy Flat{% endblock %}
{% block content %}
{% block css %}
{% endblock css %}
  
<center>
<br>
<div class="shadow-lg p-4 mb-auto bg-body" 
            style='
                width: 600px;  
                margin-top:20px; 
                height:auto;
                bottom:20px;
                border-radius:2rem;
                '>

<br>
<h1 style="font-weight:bold;">RENT FLAT</h1>
<br>



<div class="form-group" style="background:#ffd381; border-radius:2rem; padding:0.5rem;">
    <form action="{% url 'user_login:rent_flat' %}" method="POST"> <!-- here we are specifying the method for the button we used below.-->
    
       {% csrf_token %} <!-- # its an encryption token.-->
    
                <div class="mt-3 container mt-4" >
                    <p>
                        <small><label for="id_email">Email:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <input type="email" name="email" maxlength="50" required id="id_email" style="width:90%; border-radius:2rem;" class='form-control'> </a><br>
            
                    </p>
                    
                    <p>
                        <small><label for="id_username">Username:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <input type="text" name="username" maxlength="200" required id="id_username" style="width:90%; border-radius:2rem;" class='form-control'> </a><br>
            
                    </p>
                    
                    <p>
                        <small><label for="id_first_name">First name:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <input type="text" name="first_name" maxlength="100" required id="id_first_name" style="width:90%; border-radius:2rem;" class='form-control'> </a><br>
            
                    </p>
                    
                    <p>
                        <small><label for="id_last_name">Last name:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <input type="text" name="last_name" maxlength="100" required id="id_last_name" style="width:90%; border-radius:2rem;" class='form-control'> </a><br>
            
                    </p>
                    
                    <p>
                        <small><label for="id_mobile_no">Mobile no:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <input type="number" name="mobile_no" max="10000000000" required id="id_mobile_no" style="width:90%; border-radius:2rem;" class='form-control'> </a><br>
            
                    </p>
                    
                    <p>
                        <small><label for="id_flat_type">Flat type:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <select name="flat_type" id="id_flat_type" style="width:90%; border-radius:2rem;" class="form-control">
  <option value="1" selected>1BHK</option>

  <option value="2">2BHK</option>

  <option value="3">3BHK</option>

</select> </a><br>
            
                    </p>
                    
                    <p>
                        <small><label for="id_pool">Pool:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <input type="checkbox" name="pool" id="id_pool" > </a><br>
            
                    </p>
                    
                    <p>
                        <small><label for="id_gym">Gym:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <input type="checkbox" name="gym" id="id_gym" > </a><br>
            
                    </p>
                    
                    <p>
                        <small><label for="id_creche">Creche:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <input type="checkbox" name="creche" id="id_creche" > </a><br>
            
                    </p>
                    
                    <p>
                        <small><label for="id_cleaning_house">Cleaning house:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <input type="checkbox" name="cleaning_house" id="id_cleaning_house" > </a><br>
            
                    </p>
                    
                    <p>
                        <small><label for="id_furnished">Furnished:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <select  name="furnished" id="id_furnished" style="width:90%; border-radius:2rem; background-color:#fff; padding-left:2rem; padding-right:2rem; padding:0.2rem; "  >
  <option value="0" selected>Not Furnished</option>

  <option value="1">FURNISHED</option>

    </select> </a><br>
            
                    </p>
                    
                    <p>
                        <small><label for="id_no_of_members">No of members:</label> </small>
                        <a style="width:50%; border-radius:2rem;"> <input type="number" name="no_of_members" value="1" required id="id_no_of_members" style="width:90%; border-radius:2rem;" class='form-control'> </a><br>
            
                    </p>

                    {% comment %} {% for field in rent %}
                    <p>
                        <small>{{field.label_tag}} </small>
                        <a style="width:50%; border-radius:2rem;"> {{field}} </a><br>
            
                    </p>
                    {% endfor %} {% endcomment %}


                    <button class="btn btn-warning" style='border: 3px #000000 solid; border-radius:2rem; background:#fff'>Rent</button>
                    <br><br>
                    </div>
</form>
</div>
</center>
<br>
<br>
{% endblock %}
