{% extends 'base.html' %}

{% block title %} Guest Dashboard {% endblock %}


<html lang="en">
<head>

    {% block homeactive %} active {% endblock homeactive %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> {% endcomment %}
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block css %}

    body {
    color: white;
    background: #ffebb8;
    
    {% comment %} font-family: 'Roboto', sans-serif; {% endcomment %}
    font-family: 'Poppins'; font-size: 20px;
    overflow: auto;
    }

    h4,h1{
    color: black;
    }

    li {
    color: black;
    } 

    .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    background-color: #212529;
    color: white;
    text-align: center;
    }

    .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #212529;
    padding: 5px;
    }

    .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #212529;
    padding: 5px;
    }

    .grid-item {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    
    }
    .card-block {
    min-height: 220px;
    
}

    .main-container {
      overflow: scroll;
      margin-left: -100px;
      {% comment %} position: relative; {% endcomment %}
      {% comment %} height: 2000px; {% endcomment %}
      {% comment %} margin-right: {% endcomment %}
    }
    {% comment %} .container{
      width: 100%;
    } {% endcomment %}
    .main-container::-webkit-scrollbar{
      display: none;
    }

    .home_services{
      float: left;

    }
    .other_services{
      float: right;
    }

#sidebar {
  padding: 1em 2.5em 1em 2.5em;
  background: rgba(255,255,255,0.5);
  border-top: 2px solid rgba(255,255,255,0.6);
  border-bottom: 2px solid rgba(255,255,255,0.6);

  backdrop-filter: saturate(100%) blur(10px);

  cursor: default;
  height: 20rem;
  right: 650px;
  top: 75%  ;
  border-radius: 3rem; 
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  {% comment %} top: 0; {% endcomment %}
  {% comment %} margin-top:60px; {% endcomment %}
  width: 20%;
  z-index: 1;
  {% comment %} bottom:0; {% endcomment %}
}
#sidebar_help {
  padding: 1em 2.5em 1em 2.5em;
  background: rgba(255,255,255,0.5);
  border-top: 3px solid rgba(255,255,255,1);
  border-bottom: 3px solid rgba(255,255,255,1);

  backdrop-filter: saturate(100%) blur(10px);

  cursor: default;
  height: 15rem;
  right: 100px;
  top: 125%  ;
  border-radius: 3rem;;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  {% comment %} top: 0; {% endcomment %}
  {% comment %} margin-top:60px; {% endcomment %}
  width: 30%;
  z-index: 1;
  {% comment %} bottom:0; {% endcomment %}
}

#sidebar_visitors {
  padding: 1em 2.5em 1em 2.5em;
  background: rgba(255,255,255,0.5);
  border-bottom: 2px solid rgba(255,255,255,0.6);
  border-top: 2px solid rgba(255,255,255,0.6);

  backdrop-filter: saturate(100%) blur(10px);

  cursor: default;
  height: 20rem;
  right: 1075px;
  top: 120%  ;

  {% comment %} margin-bottom:100px; {% endcomment %}
  {% comment %} margin:2rem; {% endcomment %}
  border-radius: 3rem;;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  {% comment %} top: 0; {% endcomment %}
  {% comment %} margin-top:60px; {% endcomment %}
  width: 30%;
  z-index: 1;
  {% comment %} bottom:0; {% endcomment %}
}
#sidebar_payments {
  padding: 1em 2.5em 1em 2.5em;
  background: rgba(255,255,255,0.5);
  border-top: 2px solid rgba(255,255,255,0.6);
  border-bottom: 2px solid rgba(255,255,255,0.6);
  backdrop-filter: saturate(100%) blur(10px);

  cursor: default;
  height: 20rem;
  right: 650px;
  top: 120% ;
  border-radius: 3rem;;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  {% comment %} top: 0; {% endcomment %}
  {% comment %} margin-top:60px; {% endcomment %}
  width: 20%;
  z-index: 1;
  {% comment %} bottom:0; {% endcomment %}
}
#sidebar_welcome {
  padding: 1em 2.5em 1em 2.5em;
  background: rgba(255,255,255,0.5);
  border-top: 3px solid rgba(255,255,255,1);
  border-bottom: 3px solid rgba(255,255,255,1);
  backdrop-filter: saturate(100%) blur(10px);

  cursor: default;
  height: 15rem;
  right: 100px;
  top: 80%;
  border-radius: 3rem;;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  {% comment %} top: 0; {% endcomment %}
  {% comment %} margin-top:60px; {% endcomment %}
  width: 30%;
  z-index: 1;
  {% comment %} bottom:0; {% endcomment %}
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .sidebar {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .sidebarr{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .sidebar_help{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .sidebar_payments{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .sidebar_welcome{
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.features {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 8.25em;
  margin: 2rem;

  {% comment %} width: 100%; {% endcomment %}
  border-top: solid 2px rgba(255, 255, 255, 0.7);
  border-bottom: solid 2px rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.25);
  {% comment %} margin: 0 0 2em 0; {% endcomment %}
}
{% comment %} .features section:nth-child(-n + 2) {
  border-top-width: 0;
} {% endcomment %}
.features section {
  padding: 3.5em 3em 1em 1em;
  width: 50%;

  {% comment %} border-top: solid 5px rgba(255, 255, 255, 0.15); {% endcomment %}
  {% comment %} border-bottom: solid 5px rgba(255, 255, 255, 0.15); {% endcomment %}
  position: relative;
}

.card-block{
  width:300px; height:300px;   border-radius:2rem; padding: 1.5rem; 
            background: rgba(255, 255, 255, 0.6); border: 1px solid rgba(255, 255, 255, 0.7);  
}

@media screen and (min-width: 900px) 
.fixing{
  display: flex;
  flex-direction: column;
}

{% endblock %}
</head>

{% block content %}

{% if user.is_authenticated %}

<div class='fixing' >

<section id='sidebar'>
    {% comment %} <div class="other"> {% endcomment %}
      <div style='color:#fff;'>
        <strong><h2 class="side1" style='color: #000  ; '>Society Facilities</h2></strong>
                  {% comment %} <div class="col-lg-3 col-md-6 mb-4"> {% endcomment %}
                    {% comment %} <h5 class="mb-3" style="letter-spacing: 2px; color: #7f4722;">shopping online</h5> {% endcomment %}
                    <ul class="list-unstyled mb-4">
                      <li class="mb-1">
                        <button href="#!" class="btn btn-warning" style='border: 0px #fff solid; border-radius:1rem; background:#fbc35a; color:#000; margin-bottom:5px; width:150px;'>POOL</button>
                        {% comment %} <a  style="color: #000;">POOL</a> {% endcomment %}
                      </li>
                      <li class="mb-1">
                        <button href="#!" class="btn btn-warning" style='border: 0px #fff solid; border-radius:1rem; background:#fbc35a; color:#000; margin-bottom:5px; width:150px;'>GYM</button>

                        {% comment %} <a href="#!" style="color: #000;">GYM</a> {% endcomment %}
                      </li>
                      <li class="mb-1">
                        <button href="#!" class="btn btn-warning" style='border: 0px #fff solid; border-radius:1rem; background:#fbc35a; color:#000; margin-bottom:5px; width:150px;'>CRECHE</button>
                        {% comment %} <a href="#!" style="color: #000;">CRECHE</a> {% endcomment %}
                      </li>
                      <li>
                        <button href="#!" class="btn btn-warning" style='border: 0px #fff solid; border-radius:1rem; background:#fbc35a; color:#000; margin-bottom:5px; width:150px;'>And More...</button>
                        {% comment %} <a href="#!" style="color: #000;">And More...</a> {% endcomment %}
                      </li>
                    </ul>
                  </div>
</section>

<section id='sidebar_help'> 
      {% comment %} <div class="other"> {% endcomment %}
        <div style='color:#fff; '>
          <strong><h2 class="side1" style='color: #000  ; '>Need HELP?</h2></strong>
                    {% comment %} <div class="col-lg-3 col-md-6 mb-4"> {% endcomment %}
                      {% comment %} <h5 class="mb-3" style="letter-spacing: 2px; color: #7f4722;">shopping online</h5> {% endcomment %}
                      <ul class="list-unstyled mb-4">
                        <li class="mb-1">
                          <a href="{% url 'user_login:complaint_add' %}"><button class="btn btn-warning" style='border: 0px #fff solid; border-radius:1rem; background:#e95530; color:#000; margin-bottom:10px; padding: 1.2rem; width: 200px;'>COMPLAINT</button></a>
                          {% comment %} <a  style="color: #000;">POOL</a> {% endcomment %}
                        </li>
                        <li class="mb-1">
                          <a href="{% url 'user_login:suggestion_add' %}"><button class="btn btn-warning" style='border: 0px #fff solid; border-radius:1rem; background:#48d135; color:#000; margin-bottom:10px; padding: 1.2rem; width: 200px;'>SUGGESTION</button></a>
  
                          {% comment %} <a href="#!" style="color: #000;">GYM</a> {% endcomment %}
                        </li>

                      </ul>
                    </div>
    {% comment %} <button class='btn btn-warning' href='#' type="button" >COMPLAINTS</button>
    <br>
    <br>
    <button class='btn btn-warning' href='#' type="button" >SUGGESTIONS</button> {% endcomment %}
</section>

  
<section id='sidebar_payments'> 
        {% comment %} <div class="other"> {% endcomment %}
          <div style='color:#fff; '>
            <strong><h2 class="side1" style='color: #000  ; '>PAYMENT</h2></strong><br>
                      {% comment %} <div class="col-lg-3 col-md-6 mb-4"> {% endcomment %}
                        {% comment %} <h5 class="mb-3" style="letter-spacing: 2px; color: #7f4722;">shopping online</h5> {% endcomment %}
                        <ul class="list-unstyled mb-4">
                          <li class="mb-1">
                            <button href="#!" class="btn btn-warning" style='border: 0px #fff solid; border-radius:2rem; background:#fbc35a; color:#000; margin-bottom:20px; padding: 0.5rem; width: 200px;'>Society Charges</button>
                            {% comment %} <a  style="color: #000;">POOL</a> {% endcomment %}
                          </li>
                          <li class="mb-1">
                            <button href="#!" class="btn btn-warning" style='border: 0px #fff solid; border-radius:2rem; background:#fbc35a; color:#000; margin-bottom:20px; padding:0.5rem; width:200px;'>Utility Payment</button>
    
                            {% comment %} <a href="#!" style="color: #000;">GYM</a> {% endcomment %}
                          </li>
                          <li class="mb-1">
                            <button href="#!" class="btn btn-warning" style='border: 0px #fff solid; border-radius:2rem; background:#fbc35a; color:#000; margin-bottom:20px; padding:0.5rem; width:200px;'>Rent Payment</button>
    
                            {% comment %} <a href="#!" style="color: #000;">GYM</a> {% endcomment %}
                          </li>
  
                        </ul>
                      </div>
      {% comment %} <button class='btn btn-warning' href='#' type="button" >COMPLAINTS</button>
      <br>
      <br>
      <button class='btn btn-warning' href='#' type="button" >SUGGESTIONS</button> {% endcomment %}
</section>


<section id='sidebar_visitors'>
    {% comment %} <div class="other"> {% endcomment %}
      <div style='color:#fff;'>
        <strong><h2 class="side1" style='color: #000  ; '>Recent Visitors</h2></strong><br>

        <ul class="list-unstyled mb-4">
          {% comment %} {% if user.is_active %} {% endcomment %}
          {% for vis in visitor %}
                      <li class="mb-1">
                        <button href="#!" class="btn btn-warning" style='border: 0pxPAYMENT
                        #fff solid; border-radius:1rem; background:#fbc35a; color:#000; margin-bottom:10px; width:100%; '>{{ vis.name }} | {{vis.email}}</button>
                      </li>
                      {% endfor %}
                      {% comment %} <li class="mb-1">
                        <button href="#!" class="btn btn-warning" style='border: 0px #fff solid; border-radius:1rem; background:#fbc35a; color:#000; margin-bottom:5px; width:150px;'>Visitor 2</button>
                      </li>
                      <li class="mb-1">
                        <button href="#!" class="btn btn-warning" style='border: 0px #fff solid; border-radius:1rem; background:#fbc35a; color:#000; margin-bottom:5px; width:150px;'>Visitor 3</button>
                      </li>
                      <li>
                        <button href="#!" class="btn btn-warning" style='border: 0px #fff solid; border-radius:1rem; background:#fbc35a; color:#000; margin-bottom:5px; width:150px;'>Visitor 4</button>
                      </li> {% endcomment %}
                    </ul>
                  </div>
</section>


    <section id='sidebar_welcome'> 
      {% comment %} <div class="other"> {% endcomment %}
        <div style='color:#fff; '>
          <medium><h1 class="side1" style='color: #000 ; padding:1rem; '>Hi <span ><button style='color: #000; border-radius:1rem; border:0px; background-color: #fbc35a; padding-top:0.5rem;'><h1><strong>{{user.username}}</strong> !<h1></button></span></h1></medium>
                    {% comment %} <div class="col-lg-3 col-md-6 mb-4"> {% endcomment %}
                      {% comment %} <h5 class="mb-3" style="letter-spacing: 2px; color: #7f4722;">shopping online</h5> {% endcomment %}
                      <ul class="list-unstyled mb-4">
                        <li class="mb-1">
                          <button href="#!" class="btn btn-warning" style='border: 0px #fff solid; border-radius:1rem; background:#fff; color:#000; margin-bottom:10px; padding: 1rem; width: 400px;'>Enjoy Your Day !</button>
                          {% comment %} <a  style="color: #000;">POOL</a> {% endcomment %}
                        </li>
                      </ul>
                    </div>

    </section>

</div>


<h1>
  <br>
  <medium>
    <a style="margin-left:-70px;">Recent News:</a>
    {% if user.is_admin %}
    <button  style='border-radius:2rem ; border:6px solid #fbc35a; background-color:#fbc35a;  font-size: 30px;' ><a style='color:#000; text-decoration:none; padding: 0.5rem; ' href="{% url 'user_login:news_add' %}">Add News</a></button>
    {% endif %}
</medium>
</h1>



<div class="main-container" style=" width: 100rem; height: 23.rem; padding: 0.5rem; bottom: 0.5rem; ">
<div class="container-fluid" style='color: #000000; width: 100rem;' >
<div class="row flex-row flex-nowrap" style="margin-left:-60px; " >

  {% for nws in news %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-2" style="margin-left:60px;  ">
      <div class="card card-block" style="padding:#rem;"><strong style="text-align:#;  text-transform:uppercase; ">{{ nws.title|truncatewords:"2"|slice:':20' }} | {{nws.author.username|truncatewords:"1"}}</strong> {{ nws.content|capfirst|truncatechars:"155" }}</div>
    </div >
  {% endfor %}

</div>
</div>
</div>

</hr>

<h1>
  <br>
  <medium>
    <p style="margin-left:-70px;">Society Flats:</p>
  </medium>
</h1>

  
<div class="container my-8"style='margin-left:-100px; width:70rem; height: 19rem; padding: 1rem; bottom:0.5rem; '>

  <!--Slides-->
  <div class="carousel-inner"  role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="col-md-3" style="float:left;" >
       <div class="card mb-2" style="border-radius:2rem;">
          <img class="card-img-top " style='border-radius:2rem;'
            src="https://freedesignfile.com/upload/2019/08/3D-building-vector.jpg" alt="Card image cap">
          <div class="card-body">
            <center><h4 class="card-title">1-2-3 BHK</h4></center>
            <p class="card-text"></p>
            <center><a class="btn btn-warning" href="{% url 'user_login:buy_flat' %}" style='color:#000000; border-radius:1rem; width:10rem;'>BUY</a></center>
          </div>
        </div>
      </div>

       <div class="col-md-3" style="float:left">
       <div class="card mb-2"  style="border-radius:2rem;">
          <img class="card-img-top"  style="border-radius:2rem;"
          src="https://freedesignfile.com/upload/2019/08/3D-building-vector.jpg" alt="Card image cap">
          <div class="card-body">
            <center><h4 class="card-title">1-2-3 BHK</h4></center>
            <p class="card-text"></p>
            <center><a class="btn btn-warning" href="{% url 'user_login:rent_flat' %}" style='color:#000000; border-radius:1rem; width:10rem;'>RENT</a></center>
          </div>
        </div>
      </div>

  </div>
</div>
  </div>

<br>
<br>

</div>



{% comment %} To place the payment and visitors and welcome section {% endcomment %}
    <br><br><br><br><br><br><br><br><br><br><br><br>
  
<div class="features" >

      <section>
    <medium><h1 class="home_services" style='margin-left:180px'>Home Services</h1></medium>
    <br>
    <br>
              {% comment %} <div class="col-lg-3 col-md-6 mb-4"> {% endcomment %}
                {% comment %} <h5 class="mb-3" style="letter-spacing: 2px; color: #7f4722;">shopping online</h5> {% endcomment %}
                <center>
                <ul class="list-unstyled mb-4" style='margin-right:20%'>
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f;">AC Service</a>
                  </li>
                  <li class="mb-1">

                    <a href="#!" style="color: #4f4f4f;">Pest Control</a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f;">Home Service</a>
                  </li>
                  <li>
                    <a href="#!" style="color: #4f4f4f;">Groceries</a>
                  </li>
                  <li class='mb-1'>
                    <a style="color: #4f4f4f; " >Etc..</a>
                  </li>
                </ul>
                </center>
</section>
<section >
{% comment %} <div class="other"> {% endcomment %}
    <medium><h1 class="other_services" style='margin-right:150px;'>Other Services</h1></medium>
    <br>
    <br>
              {% comment %} <div class="col-lg-3 col-md-6 mb-4"> {% endcomment %}
                {% comment %} <h5 class="mb-3" style="letter-spacing: 2px; color: #7f4722;">shopping online</h5> {% endcomment %}
                <center>
                <ul class="list-unstyled mb-4" style='margin-left: 25%;'  >
                  <li class="mb-1">
                    <a href="{% url 'user_login:resident_list' %}" style="color: #4f4f4f;">Resident List</a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f;">Emergency Number</a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f;">Daily Help</a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" style="color: #4f4f4f;">Documents</a>
                  </li>
                  <li>
                    <a href="#!" style="color: #4f4f4f;">Communication</a>
                  </li>
                </ul>
                </center>
</section>
</div>
            {% comment %} </div> {% endcomment %}


    {% comment %} <div style="clear: both"></div> {% endcomment %}
    
    <div class="footer" style='width: 100%; float:left;'>

        <h2 style="color:#fbc35a;">SOCIETY MANAGEMENT</h2>
        <p>Think Future Technologies
          <br>
            <strong STYLE='COLOR:#FBC35A;'>Contact :  </strong>1234567890
          <br> Thank You For Visiting.<span style="color:#fbc35a;">!!!</span></p>
    </div>
</html>
{% else %}
      <meta http-equiv="refresh" content="0; url=/user_login/dashboard/"/>
      {% comment %} The above line meta is to redirect the page to dashboard if the user is not authenticated {% endcomment %}
{% endif %}
{% endblock content %}

