{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}
{% block content %}
<center>
<br>
<div class="shadow-lg p-4 mb-auto bg-body" 
            style='
                width: 600px;  
                margin-top:50px; 
                height:auto;
                {% comment %} border: 1px solid ; {% endcomment %}
                border-radius:2rem;
                '>
<br>
<h1 style="font-weight:bold;">RESET PASSWORD</h1>
<br>

{% comment %} <style type="text/css"> {% endcomment %}
  {% comment %} .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  } {% endcomment %}
{% comment %} </style> {% endcomment %}

<div class="form-group" style="background:#ffd381; border-radius:2rem; padding:0.5rem;">

<form method="POST" class="form-signin">
  {% csrf_token %}
  <div class="mt-3 container mt-4" >

    <input name="email" class="form-control" type="email" id="id_email" required="true" class="form-control" placeholder="Enter your registered email" style="width:90%; border-radius:2rem;">
    <br>
	<button class="btn btn-warning " type="submit" style='border: 3px #000000 solid; border-radius:2rem; background:#fff'>Send reset email</button>
  </div>
</form>
<br>
</div>


{% endblock %}