{% extends 'base.html' %}
{% block title %}Password Reset Confirm{% endblock %}
{% block content %}
<center>
<br>
<div class="shadow-lg p-4 mb-auto bg-body" 
            style='
                width: 600px;  
                margin-top:50px; 
                height:560px;
                {% comment %} border: 1px solid ; {% endcomment %}
                border-radius:2rem;
                '>
<br>
<h1 style="font-weight:bold;">Confirm Password</h1>
<br>

<div class="form-group" style="background:#ffd381; border-radius:2rem; padding:0.5rem; ">

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="T2aQRpCwMlAaFDbykOz0VmCVpV1bPzdhZvSMCHA9jBNgs8pmOA8U2BSej7eLXTXD">
{% comment %} <fieldset class="module aligned">
    <input class="hidden" autocomplete="username" value="starzcodetest1@gmail.com">
    <div class="form-row field-password1"> {% endcomment %}
        <br>
        <label for="id_new_password1">New password</label><br>
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control" placeholder="Enter your registered email" style="width:80%; border-radius:2rem;">
    {% comment %} </div> {% endcomment %}
    {% comment %} <div class="form-row field-password2"> {% endcomment %}
        <br>
        <label for="id_new_password2">Confirm password</label><br>
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class='form-control' placeholder="Enter your registered email" style="width:80%; border-radius:2rem;">
    {% comment %} </div> {% endcomment %}
    <br>
    <button type="submit" class="btn btn-warning" style='border: 2px #000000 solid; border-radius:2rem; background:#fff' > Change my Password</button>
{% comment %} </fieldset> {% endcomment %}
</form>
<br>
<br>
</div>
</div>
</center>
{% endblock %}