{% extends 'base.html' %}

{% block title %}Sent Reset Mail{% endblock %}
{% block content %}
<center>
<br>
<div class="shadow-lg p-4 mb-auto bg-body" 
            style='
                width: 600px;  
                margin-top:50px; 
                height:auto;
                {% comment %} border: 1px solid ; {% endcomment %}
                border-radius:2rem;
                '>
<br>
<h1 style="font-weight:bold;">RESET MAIL SENT </h1>
<br>

<div class="form-group" style="background:#ffd381; border-radius:2rem; padding:0.5rem;">


<div class="container" style='color: #000; width:70%;'>

	<div class="d-flex flex-column">
		  <p class="m-auto p-4" >
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </p>
		  <p class="m-auto p-4">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
		  <p class="m-auto p-4"><a href="{% url 'user_login:dashboard' %}" style='text-decoration: none; color: #000; background-color:#fff; border-radius:2rem; padding: 0.5rem;'>Return to Dashboard</a></p>
		  
	</div>
</div>
</div>

</div>
<br><br>

{% endblock %}
